.bar {
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  box-shadow: -30px -30px 60px #464646, 30px 30px 60px #1f1f1f;
  overflow: hidden;
  margin: 50px;
  background-color: #829CD0;
}

.bar:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  border-radius: 50%;
  box-shadow: inset -30px -30px 60px #464646,
    inset 30px 30px 60px #1f1f1f;
}

svg {
  width: 100%;
  height: 100%;
}

svg circle {
  position: absolute;
  transform: scale(0.939);
  transform-origin: center;
  fill: none;
  stroke: #464646;
  stroke-width: 40px;
  stroke-dasharray: 630;
  --calcOffsetA: calc(var(--offsetA) * 100);
  stroke-dashoffset: var(--calcOffsetA);
  transform: rotate(-90deg);
  animation: progress 1s;
}

@keyframes progress {
  from {
    --calcOffset: calc(var(--offset) * 100);
    stroke-dashoffset: var(--calcOffset);
  }
}

img {
  z-index: 10;
  position: absolute;
  transform: translate(140%, 140%);
  height: 5em;
  width: 5em;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
